html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

textarea {
  width: 100%;
  height: 50%;
}

div input {
  width: 30%;
}

#run {
  width: 80%;
  height: 40px;
  display: block;
  margin: auto;
}
